<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<body>
    <h1>Madlibs</h1>

    <form action="/story">
    <div class="input">
        <div>place: <input type="text" name="input_place"></div>
        <div>noun: <input type="text" name="input_noun"></div>
        <div>verb: <input type="text" name="input_verb"></div>
        <div>adjective: <input type="text" name="input_adjective"></div>
        <div>plural_noun: <input type="text" name="input_plural_noun"></div>
        <div><button>Submit</button></div>
    </div>  
    </form>
<link rel="stylesheet" href="/static/app.css">
</body>
</html> 